.offer-heading {
    padding-left: 30px;
}

.offer-container {
    padding: 20px;
}

.offer-layout {
    background-color: white;
}

.offer-row {
    margin-top: 20px;
    padding: 10px;
    background-color: #005062;
    color: white;
}

.offer-log {
    width: 300px;
    height: 200px;
    float: right;
}

.offer-btn {
    margin-left: 30px;
    margin-bottom: 30px;
}

.btnOffer {
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 20px;
}

.btn1,
.btn1:hover {
    background: #ec6f5b;
}

.btn2,
.btn2:hover {
    background: blueviolet;
}

.btn3,
.btn3:hover {
    background: brown;
}

.mdOffer {
    margin: 2px;
    width: 500px;
}
.dot1 {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

.dot2 {
    height: 800px;
    width: 500px;
    border: 1px solid black;
    border-radius: 50%;
}

.offer {
    padding: 7px;
}

.of {
    margin-left: 35px;
}

.badge {
    margin-left: 25px;
    color: red;
}

.of2, .of2:hover {
    margin-left: 20px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    color: #8F2D2D;
}

.vertical {
    border-left: 1px solid black;
    height: 25px;
    position: absolute;
    left: 58%;
}
.btnOrder{
    display: none;
    float: right;
    background: #EC6F5B;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.thumbil-1 {
    display: inline-block;
    margin-left: 50px;
    width: 400px;
    height: 400px;
}

.thumbil-flag {
    display: inline-block;
    margin-left: 145px;
    width: 150px;
    height: 150px;
}

.product-container {
    background: #171a29;
    padding: 30px;
    color: white;
}

.product-indicator,
.product-place,
.product-details {
    margin-left: 80px;
    margin-top: 20px;
}

.table {
    text-align: center;
    color: white;
    border: none;
}

.flag {
    border: 1px solid white;
    width: 450px;
    padding: 30px;
}

.card-top1 {
    display: inline;
    position: absolute;
    margin-left: -15px;
    margin-top: -60px;
}

.thumbil4 {
    background: #171a29;
    border: none;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
    width: 80px;
    height: 50px;
}